:root {
    --bg-main-color: #84A278;
    --bg-green-card:  #AEC6A5;
    --bg-yellow-card:#EFD478;
    --bg-orange-card:#D6936D;



    --title-main-color: #FCFCFC;
    --title-secondary-color: #000000; 
    
    --heading-text-color: #FFFFFF;
    --description-text-color: #131313;  

    --primary-font:'Montserrat';
    --secondary-font:'Seymour One';
    
}

