<section class="contact container" >
    <h2 class="visually-hidden">Our contact</h2>
    <div class="contact__position">
    <ul class="contact__list" id="contact">
        <li class="contact__item">
            <div class="card-container card-first">
            <p class="contact__text cl contact__subtitle">CAFE</p>
            <P class="contact__text contact__city">Chicago</P>
            <a class="contact__text contact__address  contact__address-first" href="https://goo.gl/maps/HWiEwfgLZSEFCER89" target="_blank" rel="noopener noreferrer ">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
            <div class="contact__decor"></div>
            <P class="contact__text contact__work-day">Monday - Friday</P>
            <P class="contact__text contact__work-time">06:00 AM - 10:00 PM</P>
            <P class="contact__text contact__work-day">Saturday - Sunday</P>
            <P class="contact__text contact__work-time default">08:00 AM - 16:00 PM</P>
            <div class="contact__decor"></div>
            <a href="tel:61(0)383766284" class="contact__link contact__text">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contact__link contact__text">noreply@envato.com</a>
        </div>
        </li>
        <li class="contact__item">
            <div class="card-container">
            <p class="contact__text cl contact__subtitle">FOODTRUCK</p>
            <P class="contact__text contact__city">Los Angeles</P>
            <a class="contact__text contact__address contact__address-second" href="https://goo.gl/maps/qAhgPykJ9ohoGfgn9" target="_blank" rel="noopener noreferrer ">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
            <div class="contact__decor"></div>
            <P class="contact__text contact__work-day">Monday - Friday</P>
            <P class="contact__text contact__work-time">06:00 AM - 10:00 PM</P>
            <P class="contact__text contact__work-day">Saturday - Sunday</P>
            <P class="contact__text contact__work-time default">08:00 AM - 16:00 PM</P>
            <div class="contact__decor"></div>
            <a href="tel:61(0)383766284" class="contact__link contact__text">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contact__link contact__text">noreply@envato.com</a> 
        </div>
        </li>
        <li class="contact__item">
            <div class="card-container">
            <p class="contact__text contact__subtitle">CAFE</p>
            <p class="contact__text contact__city">New York</p>
            <a class="contact__text contact__address contact__address-third" href="https://goo.gl/maps/FwCVkpLts1WY1z2T9" target="_blank" rel="noopener noreferrer ">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
            <div class="contact__decor"></div>
            <P class="contact__text contact__work-day">Monday - Friday</P>
            <P class="contact__text contact__work-time">06:00 AM - 10:00 PM</P>
            <P class="contact__text contact__work-day">Saturday - Sunday</P>
            <P class="contact__text contact__work-time default">08:00 AM - 16:00 PM</P>
            <div class="contact__decor"></div>
            <a href="tel:61(0)383766284" class="contact__link contact__text">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contact__link contact__text">noreply@envato.com</a>
        </div>
        </li>
    </ul>

    <ul class="contact-btn">
        <li>
            <button  class="contact-btn__location contact-btn__text" data-btn2-open type="button">Our Location <svg class="contact-btn__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-corner"></use>
            </svg> 
            </button>
        </li>
        <li >
            <button class="contact-btn__Franchise contact-btn__text" data-btn-open type="button">Franchise<svg class="contact-btn__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-corner"></use>
            </svg>
        </button>
        </li>
    </ul>
</div>
</section>
