<section class="contact container">
    <ul class="contact__list">
        <li class="contact__item">
            <p class="contact__text cl contact__subtitle">CAFE</p>
            <P class="contact__text contact__city">Chicago</P>
            <P class="contact__text contact__address">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</P>
            <div class="contact__decor"></div>
            <P class="contact__text contact__work-day">Monday - Friday</P>
            <P class="contact__text contact__work-time">06:00 AM - 10:00 PM</P>
            <P class="contact__text contact__work-day">Saturday - Sunday</P>
            <P class="contact__text contact__work-time default">08:00 AM - 16:00 PM</P>
            <div class="contact__decor"></div>
            <a href="tel:61(0)383766284" class="contact__link contact__text">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contact__link contact__text">noreply@envato.com</a>
        </li>
        <li class="contact__item">
            <p class="contact__text cl contact__subtitle">FOODTRUCK</p>
            <P class="contact__text contact__city">Los Angeles</P>
            <P class="contact__text contact__address">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</P>
            <div class="contact__decor"></div>
            <P class="contact__text contact__work-day">Monday - Friday</P>
            <P class="contact__text contact__work-time">06:00 AM - 10:00 PM</P>
            <P class="contact__text contact__work-day">Saturday - Sunday</P>
            <P class="contact__text contact__work-time default">08:00 AM - 16:00 PM</P>
            <div class="contact__decor"></div>
            <a href="tel:61(0)383766284" class="contact__link contact__text">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contact__link contact__text">noreply@envato.com</a> 
        </li>
        <li class="contact__item ">
            <p class="contact__text contact__subtitle">CAFE</p>
            <p class="contact__text contact__city">New York</p>
            <P class="contact__text contact__address">726 Sterling Pl, Brooklyn, NY 11222, USA</P>
            <div class="contact__decor"></div>
            <P class="contact__text contact__work-day">Monday - Friday</P>
            <P class="contact__text contact__work-time">06:00 AM - 10:00 PM</P>
            <P class="contact__text contact__work-day">Saturday - Sunday</P>
            <P class="contact__text contact__work-time default">08:00 AM - 16:00 PM</P>
            <div class="contact__decor"></div>
            <a href="tel:61(0)383766284" class="contact__link contact__text">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com" class="contact__link contact__text">noreply@envato.com</a>
        </li>
    </ul>
    <ul class="contact-btn">
        <li><button  class="contact-btn__location contact-btn__text" type="button">Our Location <svg class="contact-btn__icon" width="12" height="12"><use href="./images/symbol-defs.svg#icon-arrow"></use></svg> </button></li>
        <li ><button class="contact-btn__Franchise contact-btn__text" type="button">Franchise <svg class="contact-btn__icon" width="12" height="12"><use href="./images/symbol-defs.svg#icon-arrow"></use></svg> </button></li>
    </ul>
</section>