<div class="slider middle">
    <div class="slides">
        <input type="radio" name="r" id="r1" checked />
        <input type="radio" name="r" id="r2" />
        <input type="radio" name="r" id="r3" />
        <input type="radio" name="r" id="r4" />

        <div class="slide s1">

            <img srcset="./images/foto-rew-desktop.jpg 1x, ./images/foto-rew-desktop@2x.jpg 2x"
                src="./images/foto-rew-desktop.jpg" width="85" alt="фото" class="img" loading="lazy" />
            <div class="slide__bg-for-text">
                <p class="slide__text">
                    I love visiting your cafe. You prepare the most delicious ice cream
                    in Los Angeles! In addition, you have beautiful serving, cozy
                    atmosphere and polite staff.
                </p>
            </div>
            <p class="slide__rew-name">Emily, Los Angeles</p>
        </div>
        <div class="slide">
            <img src="./images/foto-rew-desktop.jpg" alt="Изображение" class="img" />
            <div class="slide__bg-for-text">
                <p class="slide__text">
                    I love visiting your cafe. You prepare the most delicious ice cream
                    in Los Angeles! In addition, you have beautiful serving, cozy
                    atmosphere and polite staff.
                </p>
            </div>

            <p class="slide__rew-name">Emily, Los Angeles</p>
        </div>
        <div class="slide">
            <img src="./images/foto-rew-desktop.jpg" alt="Изображение" class="img" />
            <div class="slide__bg-for-text">
                <p class="slide__text">
                    I love visiting your cafe. You prepare the most delicious ice cream
                    in Los Angeles! In addition, you have beautiful serving, cozy
                    atmosphere and polite staff.
                </p>
            </div>

            <p class="slide__rew-name">Emily, Los Angeles</p>
        </div>
        <div class="slide">
            <img src="./images/foto-rew-desktop.jpg" alt="Изображение" class="img" />
            <div class="slide__bg-for-text">
                <p class="slide__text">
                    I love visiting your cafe. You prepare the most delicious ice cream
                    in Los Angeles! In addition, you have beautiful serving, cozy
                    atmosphere and polite staff.
                </p>
            </div>

            <p class="slide__rew-name">Emily, Los Angeles</p>
        </div>
    </div>
    <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
    </div>
</div>