<footer class="footer">
    <div class="container ">
        <div class="footer__line">
    <div class="footer__titel">
        
        <p class="footer__titel-duble">homemade ice cream made </p>
        <p class="footer__titel-duble-too">with passion</p>
    </div>
    <div class="footer__contact-block">
    <div class="footer__messenger">
        <ul class="footer__messenger-list">
            <li>
                <a href="">
                    <svg class="footer__messenger-icon" width="32" height="32">
                        <use href="/src/images/symbol-defs.svg#icon-github"> 
                        </use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <svg class="footer__messenger-icon" width="32" height="32">
                        <use href="/src/images/symbol-defs.svg#icon-telegram"> 
                        </use>
                    </svg>
                </a>
            </li>
    </li>
            <li>
                <a href="">
                    <svg class="footer__messenger-icon" width="32" height="32">
                        <use href="/src/images/symbol-defs.svg#icon-facebook"> 
                        </use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer__contact-number">
    <a href="tel:+610383766284" class="footer__contact-number-link"><span class="footer__contact-number-next">Feel free to contact&nbsp</span>+61 (0) 383 766 284</a>
    </div>
    </div>
</div>
    <div class="footer__link-reserved">
        <a href=""><p>© 2022 - IceCream. 
            All Rights Reserved. </p>
    </div></a>
    
    
    
    
    </div>
    
    
    
        
    </footer>