<section class="gallery">
    <div class="container">
        <h2 hidden>Product photos</h2>
        <div class="gallery__photos">
            <picture>
                <source
                srcset="./images/ice-gallery/desktop/desktop-ice-picture.png 1x,
                ./images/ice-gallery/desktop/desktop-ice-picture@2x.png 2x"
                media="(min-width:1200px)"
                />
                <source
                srcset="./images/ice-gallery/tablet/tablet-ice-picture.png 1x,
                ./images/ice-gallery/tablet/tablet-ice-picture@2x.png 2x"
                media="(min-width:768px)"
                />
                <img 
                srcset="./images/ice-gallery/mobile/mobile-ice-picture.png 1x,
                ./images/ice-gallery/mobile/mobile-ice-picture@2x.png 2x"
                src="./images/ice-gallery/gallery-ice-picture.png"
                
                alt="image"
                loading="lazy"
                />
                
            </picture>
        </div>
    </div>
</section>