<header class="header">
  <div class="container conteiner--header">
    <a href="./index.html" class="logo--header link">
      <svg class="logo--header__svg">
        <use href="./images/symbol-defs.svg#icon-logo" class="logo--header__use"></use>
      </svg>
    </a>
    <ul class="menu">
      <li class="menu__list list"><a href="#hero" class="menu__link link">Home</a></li>
      <li class="menu__list list"><a href="#about" class="menu__link link">How it’s made?</a></li>
      <li class="menu__list list"><a href="#products" class="menu__link link">Our products</a></li>
      <li class="menu__list list"><a href="#contact" class="menu__link link">Contact</a></li>
    </ul>
    <button type="button" class="button-menu--open" data-menu-open>
      <svg class="button-menu--open__svg">
        <use href="./images/symbol-defs.svg#icon-menu" class="button-menu--open__use"></use>
      </svg>
    </button>
    <button type="button" class="button button--modal" data-btn3-open>Buy now</button>
    
  </div>
  <div class="modal-menu" data-menu>
    <div class="container">
      <div class="modal-header">
        <a href="./index.html" class="logo--header link">
          <svg class="logo--header__svg">
            <use href="./images/symbol-defs.svg#icon-logo" class="logo--header__use"></use>
          </svg>
        </a>
        <button type="button" class="button button-menu--close" data-menu-close>
          <svg class="button-menu--close__svg">
            <use href="./images/symbol-defs.svg#icon-ep_close" class="button-menu--close__use"></use>
          </svg>
        </button>
      </div>
      <ul class="modal-menu__group">
        <li class="modal-menu__list list">
          <a href="#hero" class="modal-menu__link link" data-menu-close>Home</a></li>
        <li class="modal-menu__list list">
          <a href="#how" class="modal-menu__link link" data-menu-close>How it’s made?</a>
        </li>
        <li class="modal-menu__list list">
          <a href="#products" class="modal-menu__link link" data-menu-close>Our products</a>
        </li>
        <li class="modal-menu__list list">
          <a href="#contact" class="modal-menu__link link" data-menu-close>Contact</a>
        </li>
      </ul>
      <button type="button" class="button modal-menu__button">Buy now</button>
    </div>
  </div>
</header>
