 <div class="backdrop">
    <div class="modal">
        <button type="button" class="modal-close-btn">
            <svg class="modal-close-icon" width="16" height="16">
                <use href="./images/symbol-defs.svg#icon-close_40px"></use>
            </svg>
        </button>

        <p class="modal-title">Buy now</p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <form class="buy-now-modal">
            <span class="modal-form-wrapper">
                <input type="text" placeholder="Name" name="user_name" required pattern="[a-zA-zа-яА-ЯіІїЇ]+" minlength="2"
                    class="modal-form-input">
                <input type="tel" name="user_phone" placeholder="Phone" class="modal-form-input" required
                    pattern="^[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx">
                <textarea name="user-message" class="modal-form-message" placeholder="Comment"></textarea>
            </span>
        
            <button type="submit" class="btn-submit">Submit</button>
        </form>
    </div>
    </div>
 
