<section class="hero">
  <div class="conteiner conteiner--hero">
    
    <div class="hero--right">
      <h1 class="hero--right__title">
        ice cream made with <span class="hero--right__span">passion</span>
      </h1>
      <ul class="hero--right__group">
        <li class="hero--right__products list">
          <a href="" class="hero--right__link-products link">Products</a>
        </li>
        <li class="hero--right__how list">
          <a href="" class="hero--right__link-how link">How it’s made?</a>
        </li>
      </ul>
      <article class="hero-article">
        <a href="" class="hero-article__link link">
          <picture>
            <source srcset="./images/desctop/many-ice.png, ./images/desctop/many-ice@2x.png"
            media="(min-width: 1200px)">
            <source srcset="./images/tablet/many-ice.png, ./images/tablet/many-ice@2x.png"
            media="(min-width: 768px)">
            <img src="./images/desctop/many-ice.png" alt="meny ice-cream" class="hero-article__img" />
          </picture>
          
          <div class="hero-article__overlow">
            <p class="hero-article__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button type="button" class="hero-article__button">
              <svg width="40" height="20">
                <use href="../images/symbol-defs.svg#icon-arrow" class="hero-article__svg"></use>
              </svg>
            </button>
          </div>
        </a>
      </article>
    </div>
    <div class="hero--left">
      <picture >
        <source srcset="./images/desctop/ice-cream.png, ./images/desctop/ice-cream@2x.png"
        media="(min-width: 1200px)" />
        <source srcset="./images/tablet/ice-cream.png, ./images/tablet/ice-cream@2x.png"
        media="(min-width: 768px)" />
        <source srcset="./images/mobile/ice-cream.png, ./images/mobile/ice-cream@2x.png"
        media="(max-width: 767px)" />
        <img src="./images/mobile/ice-cream.png" alt="decoration ice-cream" class="decoration_ice-cream">
      </picture>
      <ul class="hero--left__group">
        <li class="hero--left__list list">
          <p class="hero--left__number">16</p>
          <p class="hero--left__text">cafes</p>
        </li>
        <li class="hero--left__list list">
          <p class="hero--left__number">23</p>
          <p class="hero--left__text">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>