<section class="hero" id="hero">
  <div class="container conteiner--hero">
    
    <div class="hero--right">
      <h1 class="hero--right__title">
        ice cream made with <span class="hero--right__span">passion</span>
      </h1>
      <ul class="hero--right__group">
        <li class="hero--right__products list">
          <a href="#products" class="hero--right__link-products link">Products</a>
        </li>
        <li class="hero--right__how list">
          <a href="#about" class="hero--right__link-how link">How it’s made?</a>
        </li>
      </ul>
      <div class="hero-article">
        <div class="hero-article__block link">
          <picture>
            <source srcset="./images/desctop/many-ice.png 1x, ./images/desctop/many-ice@2x.png 2x"
            media="(min-width: 1200px)">
            <source srcset="./images/tablet/many-ice.png 1x, ./images/tablet/many-ice@2x.png 2x"
            media="(min-width: 768px)">
            <img src="./images/desctop/many-ice.png" alt="meny ice-cream" class="hero-article__img" />
          </picture>
          
          <div class="hero-article__overlow">
            <p class="hero-article__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
              <a href="#about" class="link hero-article__button">
                <svg width="40" height="20" class="hero-article__svg">
                  <use href="./images/symbol-defs.svg#icon-arrow" class="hero-article__use"></use>
                </svg>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero--left">
      <picture >
        <source srcset="./images/desctop/ice-cream.png 1x, ./images/desctop/ice-cream@2x.png 2x"
        media="(min-width: 1200px)" />
        <source srcset="./images/tablet/ice-cream.png 1x, ./images/tablet/ice-cream@2x.png 2x"
        media="(min-width: 768px)" />
        <source srcset="./images/mobile/ice-cream.png 1x, ./images/mobile/ice-cream@2x.png 2x"
        media="(max-width: 767px)" />
        <img src="./images/mobile/ice-cream.png" alt="decoration ice-cream" class="decoration_ice-cream">
      </picture>
      <ul class="hero--left__group">
        <li class="hero--left__list list">
          <p class="hero--left__number">16</p>
          <p class="hero--left__text">cafes</p>
        </li>
        <li class="hero--left__list list">
          <p class="hero--left__number">23</p>
          <p class="hero--left__text">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>