<div class="backdrop is-hidden"  data-modal-location>
    <div class="modal-location">
        <button type="button" class="modal-close-btn" data-btn2-close>
            <svg class="modal-close-icon" width="16" height="16">
                <use href="./images/symbol-defs.svg#icon-close_40px"></use>
            </svg>
        </button>
        
        <p class="modal-title">Our Locations</p>
        <div class="location-wrapper">
        <iframe class="map-location"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2587.88934709905!2d34.50440021566526!3d49.56211097936267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f263343a69d%3A0xd0c70a8f7172dcdb!2z0JrQuNGX0LLRgdGM0LrQtSDRiNC-0YHQtSwg0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1suk!2sua!4v1662238601279!5m2!1suk!2sua"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <button type="submit" class="btn-submit btn-location">Open map</button>
    </div>
    </div>
