<section class="product section" id="products">
    <div class="container">
        <div class="product__item">
            <p class="product__title">100% natural</p>
            <h2 class="product__about">products</h2>
        </div>
        <ul class="types list">
            <li class="types-item ice-cream green-bgr-circle">
                <h3 class="types-item__title">ice cream</h3>
                <p class="types-item__text">
                    Soft ice cream with a delicate taste. Made with milk, cream, sugar
                    and natural stabilizer
                </p>
                <button type="button" class="types-item__link">
                    <svg width="40" height="20" class="types-icon">
                        <use href="./images/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="types-item ice-coffee yellow-bgr-circle">
                <h3 class="types-item__title">ice coffee</h3>
                <p class="types-item__text">
                    Fragrant invigorating drink created from 100% natural ingredients
                    without the use of preservatives and flavor enhancers
                </p>
                <button type="button" class="types-item__link">
                    <svg width="40" height="20" class="types-icon">
                        <use href="./images/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="types-item milkshakes brown-bgr-circle">
                <h3 class="types-item__title">milkshakes</h3>
                <p class="types-item__text">
                    Sweet drinks based on milk and ice cream, supplemented with
                    syrups, fruits, berries and other sweets of your choice
                </p>
                <button type="button" class="types-item__link">
                    <svg width="40" height="20" class="types-icon">
                        <use href="./images/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>