.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    background-color: #FFFFFF;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    padding: 28px;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    padding: 0;
    border: none;
}

.modal-close-icon {
    fill: #000000;
}


@media screen and (min-width: 768px) {
    .modal {
        width: 568px;
        padding: 32px 0px;
    }

    .modal-close-btn {
        width: 20px;
        height: 20px;
    }
}

.products-wrapper {
    background: url;
}




.btn-submit {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #000000;
    background: #F8D24E;
    border-radius: 10px;
    border: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 7px 43px;

    &:hover {
        background: #0A8817;
    }

    &:focus {
        color: #FCFCFC;
        background: #0A8817;
    }
}











.modal-title-location {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.btn-location {
    padding: 7px 37px;

    &:hover {
        background: #0A8817;
    }

    &:focus {
        color: #FCFCFC;
        background: #0A8817;
    }
}

.map-location {
    margin-bottom: 24px;
    width: 224px;
    height: 199px;
}

@media screen and (min-width: 768px) {
    .modal-title-location {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 32px;
    }
    .btn-location {
        padding: 12px 34px;
}
    .map-location {
        margin-bottom: 32px;
        width: 448px;
        height: 260px;
}
    .location-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

}
}

















.modal-title {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;

    margin-bottom: 20px;
    text-align: center;
}

.modal-descr {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #000000;

    margin-bottom: 24px;
}

.modal-form-wrapper {
    display: flex;
    flex-direction: column;
}

.modal-form-input {
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 1.42;
    color: #000000;
    padding: 12px 8px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    margin-bottom: 12px;
}

.modal-form-input::placeholder,
.modal-form-message::placeholder {
    font-size: 12px;
    line-height: 1.21;
} 

.modal-form-message {
    width: 100%;
    height: 64px;
    padding: 12px 8px;
    margin-bottom: 24px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
}


@media screen and (min-width: 768px) {
.modal-title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
    margin-left: 123px;
    margin-right: 123px;
    }

.modal-descr {
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 24px;
    margin-left: 60px;
    margin-right: 60px;
    }


.modal-form-input {
    font-size: 14px;
    line-height: 1.43;
    padding: 11px 16px;
    margin-bottom: 16px;
}
.modal-form-message {
    margin-bottom: 32px;
}
.btn-submit {
    font-size: 14px;
    line-height: 1.21;
    padding: 12px 43px;
}

.modal-close-icon {
    width: 20px;
    height: 20px;
}
.modal-form-wrapper {
    margin-left: 100px;
    margin-right: 100px;
}
.modal-form-input::placeholder,
.modal-form-message::placeholder {
    font-size: 14px;
    line-height: 1.43;
}
}

