.modal-hero,
.modal-franchise,
.modal-location {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    background-color: #FFFFFF;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    padding: 28px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-dur-and-fun), visibility var(--transition-dur-and-fun);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    padding: 0;
    border: none;
}

.modal-close-icon {
    fill: #000000;
}


@media screen and (min-width: 768px) {
    .modal-hero,
.modal-franchise,
.modal-location {
        width: 568px;
        padding: 32px 0px;
    }

    .modal-close-btn {
        width: 20px;
        height: 20px;
    }
}



.btn-submit {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #000000;
    background: #F8D24E;
    border-radius: 10px;
    border: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 7px 43px;

    &:hover {
        background: #0A8817;
    }

    &:focus {
        color: #FCFCFC;
        background: #0A8817;
    }
}











.modal-title-location {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.btn-location {
    padding: 7px 37px;

    &:hover {
        background: #0A8817;
    }

    &:focus {
        color: #FCFCFC;
        background: #0A8817;
    }
}

.map-location {
    margin-bottom: 24px;
    width: 224px;
    height: 199px;
}

@media screen and (min-width: 768px) {
    .modal-title-location {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 32px;
    }
    .btn-location {
        padding: 12px 34px;
}
    .map-location {
        margin-bottom: 32px;
        width: 448px;
        height: 260px;
}
    .location-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

}
}


.product-list-container {
    margin-bottom: 24px;
    margin-top: 20px;
}




.item-product.ice-cream-prod {
    width: 132px;
    height: 135px;
    border: 2px solid #96AF8C;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
}

.item-product.ice-cream-prod::before {
    content: '';
    display: block;
    width: 130px;
    height: 130px;
    margin-top: -50%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/mobile/ice-cream_mobile.jpg);
    background-repeat: no-repeat;
    border-radius: 98.6301px;
    z-index: 1;
}

 @media (min-device-pixel-ratio: 2),
 (-webkit-min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .item-product.ice-cream-prod::before {
        background: url(../images/mobile/ice-cream_mobile@2x.jpg) 2x;
     }
 }

 .item-product.green-cirkle::after {
     content: '';
     width: 130px;
     height: 130px;
     background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
     box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
     margin-top: -180px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 50%;

 }
 




.item-product.ice-coffee-prod {
    width: 132px;
    height: 135px;
    background: #EFD478;
    border: 2px solid #EFD478;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    border-radius: 15.7808px;
}

.item-product.ice-coffee-prod::before {
    content: '';
    display: block;
    width: 130px;
    height: 130px;
    margin-top: -50%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/mobile/ice-coffee_mobile.jpg);
    background-repeat: no-repeat;
    border-radius: 98.6301px;
    z-index: 1;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .item-product.ice-coffee-prod::before {
        background: url(../images/mobile/ice-coffee_mobile@2x.jpg) 2x;
    }
}

.item-product.yellow-cirkle::after {
    content: '';
    width: 130px;
    height: 130px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    margin-top: -180px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}





.item-product.milkshake-prod {
    width: 132px;
    height: 135px;
    border: 2px solid #D6936D;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
}



.item-product.milkshake-prod::before {
    content: '';
    display: block;
    width: 130px;
    height: 130px;
    margin-top: -50%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/mobile/milk-shake_mobile.jpg);
    background-repeat: no-repeat;
    border-radius: 98.6301px;
    z-index: 1;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .item-product.milkshake-prod::before {
        background: url(../images/mobile/milk-shake_mobile@2x.jpg) 2x;
    }
}

.item-product.brown-cirkle::after {
    content: '';
    width: 130px;
    height: 130px;
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    margin-top: -180px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}




.ice-cream-prod {
    margin-bottom: 83px;
}
.ice-coffee-prod {
    margin-bottom: 83px;
}

.product-list {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-top: 83px;
}
.item-product {
    display: flex;
    flex-direction: column;
}

.item-product__title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
.product-list-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.product-list {
    gap: 32px;
    margin-top: 0;
}

.item-product {
    margin-bottom: 0;
}

.item-product {
    margin-top: 63px;
}

}













.modal-title {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;

    margin-bottom: 20px;
    text-align: center;
}

.modal-descr {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #000000;

    margin-bottom: 24px;
}

.modal-form-wrapper {
    display: flex;
    flex-direction: column;
}

.modal-form-input {
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 1.42;
    color: #000000;
    padding: 12px 8px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    margin-bottom: 12px;
    height: 32px;
}

.modal-form-input::placeholder,
.modal-form-message::placeholder {
    font-size: 12px;
    line-height: 1.21;
    color: #000000;
} 

.modal-form-message {
    width: 100%;
    height: 64px;
    padding: 12px 8px;
    margin-bottom: 24px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
}


@media screen and (min-width: 768px) {
.modal-title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
    margin-left: 123px;
    margin-right: 123px;
    }

.modal-descr {
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 24px;
    margin-left: 60px;
    margin-right: 60px;
    }


.modal-form-input {
    font-size: 14px;
    line-height: 1.43;
    padding: 11px 16px;
    margin-bottom: 16px;
    height: 42px;
}
.modal-form-message {
    margin-bottom: 32px;
}
.btn-submit {
    font-size: 14px;
    line-height: 1.21;
    padding: 12px 43px;
}

.modal-close-icon {
    width: 20px;
    height: 20px;
}
.modal-form-wrapper {
    margin-left: 100px;
    margin-right: 100px;
}
.modal-form-input::placeholder,
.modal-form-message::placeholder {
    font-size: 14px;
    line-height: 1.43;
}
}

