.about {
  background-color: #84a178;

  padding-top: 60px;
  padding-bottom: 20px;

 @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px){
    padding-bottom: 59px;
    padding-top: 44px;
  }

}

.about__lebel {
  display: block;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    
    font-size: 30px;
    line-height: 1.23;
    color: #fcfcfc;
    
  }

}

.about__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  width: 200px;
  margin-top: 0;

  @media screen and (min-width: 350px){
    width: 100%;

  }

  @media screen and (min-width: 768px) {
    font-size: 34px;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
    width: 456px;
    
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
    width: 483px;
    margin-bottom: 82px;
  }

}

.about__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;

  @media screen and (min-width: 768px) {
    line-height: 1.76;
    margin-top: 30px;
    width: 334px;
    text-align: inherit;
    margin-left: 32px;
    padding: 0;
   
    
    
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.94;
    width: 464px;
    margin-left: 99px;
    margin-right: 118px;
    margin-top: 90px;
    
  }

}
.about__text--paragraph{
  

  &:not(:last-of-type){
    margin-bottom: 8px;

  }
  &:last-of-type{
    margin-bottom: 48px;
  }

  @media screen and(max-width:767px) {
    
    &:last-of-type{
      margin-bottom: 20px;
    }
    
  }
}

.about__btn {
  display: block;
  background-color: #f8d24e;
  width: 164px;
  height: 44px;
  border-radius: 10px;
  padding-right: 26px;
  padding-top: 2px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  align-items: center;
  text-align: center;
  color: #000;
  cursor: pointer;
  border-color: transparent;

  &:hover,
  &:focus {
    background-color: #0A8817;
    
  }
  &:active{
    color: #ffffff;
  }

  &::after {
    position: absolute;
    right: 30px;
    width: 12px;
    height: 12px;
    top: 16px;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;

    background-image: url(../images/About/Vector.svg);
  }

  @media screen and (min-width: 768px) {
    margin: 0;
  }
  
}

.about__list{
  @media screen and (min-width: 768px) {
    display: flex;
  }

}

.about__picture{
  display: flex;
  justify-content: center;

}

.about__picture--bg{
  position: relative;
  width: 278px;
  height: 278px;
  margin-bottom: 62px;
  border-radius: 50%;
  background-color: #F8D24E;

  @media screen and (min-width: 768px){
width: 330px;
height: 330px;
margin-bottom: 0;
  }

  @media screen and (min-width: 1200px){
    width: 490px;
    height: 490px;
  }
}

.about__picture--img{
  position: absolute;
  transform: translate(0px,25px);
}

