@media screen and (max-width: 767px) {
    .gallery {
        background-image: url("/src/images/ice-gallery/mobile/mobile-bg.jpg");
        
    }

    .gallery__photos {
        transform: translateY(-20%);
        left: 20%;
    }
    
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .gallery {
    background-image: url("/src/images/ice-gallery/mobile/mobile-bg@2x.jpg");
    }

}

.gallery {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 900px;
    margin-left: auto;
    margin-right: auto;
}

.gallery__photos {
    transform: translateY(-20%);      
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 768px) {
    .gallery {
      background-image: url("/src/images/ice-gallery/tablet/tablet-bg.jpg");
      
    }

    .gallery__photos {
        transform: translateY(-45%);
        max-width: 704px;
        border-radius: 18px;
        left: 5%;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .gallery {
        background-image: url("/src/images/ice-gallery/desktop/desktop-bg.jpg");
    }
}


@media screen and (min-width: 1200px) {
    .gallery {
        background-image: url("/src/images/ice-gallery/desktop/desktop-bg.jpg");
        max-width: 2050px;       
    }
    
      
    .gallery__photos {
        transform: translateY(-17%);
        left: 17%;
        max-width: 1013px;
        border-radius: 24px;
        margin-left: auto;
        margin-right: auto;
        
    }

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .gallery {
        background-image: url("/src/images/ice-gallery/desktop/desktop-bg@2x.jpg");
    }   
}
